*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-size: 16px;}

@font-face {
    font-family: 'Montserrat-M';
    src: url('Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Semi';
    src: url('Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: 'Roboto-L';
    src: url(Roboto-Light.ttf);
}
@font-face {
    font-family:'Raleway-Medium';
    src: url(Raleway-Medium.ttf);
}
:root{
    --color-50: #f6f6f6;
    --color-100: #e7e7e7;
    --color-200: #d1d1d1;
    --color-300: #b0b0b0;
    --color-400: #888888;
    --color-500: #6d6d6d;
    --color-600: #5d5d5d;
    --color-700: #4f4f4f;
    --color-800: #454545;
    --color-900: #3d3d3d;
    --color-930: #1a1a1a;
    --color-950: #161616;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
    grid-template-areas: 
    "header"
    "main"
    "section1"
    "section2"
    "footer";
    grid-template-rows: 70px auto auto auto 100px;

}

.button_responsive{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-100);
}
    .button_responsive a{
        text-decoration: none;
        color: var(--color-100);
    }
    .material-symbols-outlined{
        font-size:2rem !important;
    }

.header{
    grid-area: header;
    background-color: var(--color-950);
    color: var(--color-100);
    width: 100%;
    padding: 20px;
    user-select: none;
}
.header .header h1{
        font-family: 'Montserrat-Semi';
    }
    
.nav{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-930);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 1;
    user-select: none;
}

/* MENU MOBILE OCULTO */
    .nav_mobile{
        display: none;
    }
/* Se agrega la clase show */
    .nav_mobile.show {
        display: block;
    }
    .nav_mobile .nav_logo{
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        }
        .nav_logo .nav_logo-h1{
            font-size: 2rem;
            font-family: 'Montserrat-Semi';
        }
        /* Estilos close */
        .nav_logo .nav_logo_close{
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            user-select: none;
        }

        .nav_item .nav_header {border-top: 1px solid var(--color-400);}
        .nav_item .nav_header-start{border-top:none;}
        .nav_item .nav_header-end{
            border-bottom: 1px solid var(--color-400);;
        }
        .nav_header .efect{
            font-family: 'Montserrat-M';
            text-decoration: none;
            background-image: linear-gradient(to left,
            var(--color-50) 50%, var(--color-300) 50% 100%);
           /* Tamaño del gradiente */
           background-size: 200% 100%; 
           /* Clip del texto al degradado */
           -webkit-background-clip: text; 
           /* Texto inicialmente transparente */
           text-decoration: none;
           color: transparent;
           /* Transición suave de la posición del degradado */
           transition: background-position 0.4s; 
           font-size: 3rem;
        }
        
        .nav_header .efect:hover {
            background-position: 100% 0; 
        }
    
        .nav_header .accordion {
            cursor: pointer;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
          }

        .accordion .panel {
            display: none;
            padding: 0 10px;

          }
        .panel .panel-items{
            display: flex;
            justify-content: center;
            align-items: left;
            flex-direction: column;
            padding: 10px ;
          }
        .panel-items-a{
            font-family: 'Raleway-Medium', sans-serif;
            font-size: 2rem;
            text-decoration: none;
            color: var(--color-400);
        }
        .panel-items-a:hover{
            color: var(--color-100);
            transition: color 0.5s;
        }

/* MAIN */
.main{
    grid-area: main;
    width: 100%;
}

.main .main_container{
    
}
.main_container .main_img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.section1{
    grid-area: section1;
    width: 100vw;
}
.section2{
    grid-area: section2;
    width: 100vw;
}
.footer{
    grid-area: footer;
    width: 100vw;
}

/* Estilos adicionales para pantallas más grandes */
@media (max-width: 999px) {
    .nav_desktop{display: none;}
}
@media (min-width: 1000px) {
    .button_responsive{
        display: none;
    }

    .header_h1{
        display: none;
    }
    .nav_desktop{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .desktop_header-link {
        text-decoration: none;
        color: var(--color-100);
        display: inline-block;
        vertical-align: middle;
        font-size: 1.2rem; /* Ajusta el tamaño de la fuente según sea necesario */
        line-height: 1; /* Restaura la altura de línea a su valor predeterminado */
    }
    
    .expand_page {
        vertical-align: middle; /* Centra verticalmente el contenido */
    }


    .dropdown_content{
        position: absolute;
        top: 70px;
        display: none;
    }
    .dropdown_links{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
        background: var(--color-930);
        min-width: 190px;
        padding: 20px 0;
        height: auto;
    }
        .dropdown-link{
            font-family: 'Releway-Medium';
            text-align: left;
            text-decoration: none;
            padding: 0 20px;
            color: var(--color-50);
            font-size: 1.5rem;
            position: relative;
        }
        .dropdown-link::before {
            content: "-";
            opacity: 0;
            transition: opacity 0.3s ease, transform 0.3s ease;
            transform: translateX(-100%);
            left: 0;
        }
        .dropdown-link:hover::before {
            opacity: 1;
            transform: translateX(20px);/* volver guion a su posición original */
            padding-left: 10px;
        }
  
        
    .dropdown_content.hidden{
        display: block;
    }
    .separator-line1{
        border-left: 2px solid var(--color-50);
        height: 100%;
    }
    .separator-line2{
        border-left: 2px solid var(--color-50);
        height: 100%;
    }
    .nav_desktop_search{
        padding: 10px;
    }

    .nav_desktop_input{
        display: none;
        position: absolute;
        top: 70px;
        right: 70px;
        background-color: var(--color-400);
        padding: 20px;
    }

    .lupa{
        position: relative;
    }
    
    .lupa::before{
        content: "-";
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateX(-100%);
        left: 0;
    }
    .lupa:hover:before{
        opacity: 1;
        transform: translateX(20px);/* volver guion a su posición original */
        padding-left: 10px;
    }
    .mostrar {
        display: block;
    }

   
}
